.twitch-login-button {
    background-image: url('./assets/button.png');
    background-position: center center;
    background-size: contain;
    width: 311px;
    height: 42px;
    zoom: 0.72;
    margin: auto auto;
    border-radius: 0.5em;
    overflow: hidden;
    cursor: pointer;
}